.reservoir-desc {
  background: #fff;
  border-radius: 10px;
  /* height: 757px; */
}

.reservoir-desc>div {
  padding: 10px 20px;
}

.reservoir-desc>.title {
  font-size: 18px;
  font-weight: 600;
}

.reservoir-desc>.desc-detail {
  height: 473px;
  overflow: auto;
}

.reservoir-desc>.desc-detail>div {
  padding: 6px 0;
}

.desc-detail>div>label {
  width: 70px;
  display: inline-block;
}

.desc-detail>div>span {
  display: inline-block;
  width: calc(100% - 75px);
  vertical-align: top;
  word-break: break-word;
}

.image-manager>.el-card {
  margin-bottom: 20px;
}

.upload-component>div {
  display: inline;
}

.upload-component>div>a {
  background-color: #fbfdff;
  border: 1px dashed #c0ccda;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 148px;
  height: 148px;
  line-height: 146px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  position: relative;
}

.upload-component>div>a>i {
  font-size: 28px;
  color: #8c939d;
}

.upload-component>div>a>div {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  display: none;
}

.upload-component>div>a:hover>div {
  cursor: pointer;
  display: block;
}

/* -------------------水雨情------------------------ */
.water-rain>.el-row>.el-col {
  margin: 20px 0;
}

/* -------------------图片全屏--------------------- */
.view-full-pic {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .8);
  z-index: 99999;
}

.view-full-pic>img {
  max-width: 100%;
  max-height: 100%;
}

/* ----------------------首页轮播图------------------ */
.el-carousel button {
  min-width: auto !important;
}

.slide-show {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .8);
}

.slide-show>img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

/* --------------------主要内容整体背景设置------------- */
.multi-part {
  padding: 0 !important;
  background: transparent !important;
}

/* ---------------------工程图片浏览------------------- */
.show-pic>.el-col {
  padding: 8px;
}

.show-pic .image-div {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .8);
  position: relative;
}

.show-pic .image-div>img {
  max-width: 100%;
  max-height: 100%;
}

.show-pic .image-div>img:hover {
  cursor: pointer;
}

/* -----------------------统一管理页面----------------- */
.manager-page>.operation-area {
  margin: 15px 0;
}

/* -----------------------搜索框位置------------------ */
.search-area {
  width: 350px;
  float: right;
}

/* ------------------------补充空白-------------------- */
.supplement-block {
  padding-bottom: 15px;
}

/* ----------------------与标题间隔的内容--------------- */
.page-content {
  padding-top: 20px;
}

/* -----------------------调整月报步骤条---------------- */
.owner-paper .el-steps--horizontal .el-step__icon-inner {
  font-weight: 400;
  font-size: 25px;
}

.owner-paper .el-steps--horizontal .el-step__icon.is-icon {
  width: 80px;
  text-align: center;
}

.owner-paper .el-steps--horizontal .el-step__title {
  width: 80px;
  text-align: center;
}

/* --------------------------弹出框上传picture-card--------------------- */
.dialog-upload .el-upload--picture-card {
  width: 80px;
  height: 80px;
  line-height: 84px;
}

.dialog-upload .el-upload-list--picture-card .el-upload-list__item {
  width: 80px;
  height: 80px;
}

/* ---------------------------全局遮罩----------------------------------- */
.loading-mask {
  height: calc(100vh - 145px);
}
